<a href="https://colab.research.google.com/github/saswatnanda10/Python-Programming/blob/main/List_Tuple_String.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = ['spam', 'eggs', 100, 1234, 2*2]
print(a[0])
print(a[:4])

spam
['spam', 'eggs', 100, 1234]

In [ ]:
a[2] = a[2] + 23

In [ ]:
a[0:2] = [1,12]

In [ ]:
print(a)

[12, 123, 1234, 4]

In [ ]:
a[0:1] = []

In [ ]:
lis = [ 1, [5, 6], 7]
print(lis[1][1])

6

In [ ]:
list = range(3)

In [ ]:
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends :
    print('Happy New Year:',  friend)

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally

In [ ]:
for i in range(len(friends)) :
    friend = friends[i]
    print('Happy New Year:',  friend)

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally

In [ ]:
friends.sort(reverse=True)
print(friends)
print(friends[1])

['Sally', 'Joseph', 'Glenn']
Joseph

In [ ]:
friends.sort(reverse=True)
print(friends)
print(friends[1])

In [ ]:
t = [9, 41, 12, 3, 74, 15]
t[::-2]

[15, 3, 41]

In [ ]:
stuff = list()
stuff.append('book')
stuff.append(99)
print(stuff)
stuff.append('cookie')
print(stuff)

['book', 99]
['book', 99, 'cookie']

In [ ]:
fruit = 'Banana'
#fruit[0] = 'b'
x = fruit.lower()
print(x)

banana

In [ ]:
total = 0
count = 0
while True :
    inp = input('Enter a number: ')
    if inp == 'done' : 
        break
    value = float(inp)
    total = total + value     
    count = count + 1
average = total / count
print('Average:', average)

In [ ]:
nums = [3, 41, 12, 9, 74, 15]
print(len(nums))
print(max(nums))
print(min(nums))
print(sum(nums))
print(sum(nums)/len(nums))

6
74
3
154
25.666666666666668

In [ ]:
abc = 'With three words'
stuff = abc.split('h')
print(stuff)
print(len(stuff))
print(stuff[0])

In [ ]:
line = 'From salman.amir@gmail.com Sat Jan  5 09:14:16 2020'
words = line.split()
print(words)
email = words[1]
print(email)
pieces = email.split('@')
print(pieces[1])

In [ ]:
d = { "foo" : 1, "bar" : 2 }
print(d["bar"])   # 2
some_dict = {}
some_dict["foo"] = "yow!"
some_dict["bar"] = "Dog!"
print(some_dict.keys()) # ["foo"]

In [ ]:
list

In [ ]:
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends :
    print('Happy New Year:',  friend)

In [ ]:
for i in range(len(friends)) :
    print(len(friends))
    print(i)
    friend = friends[i]
    print('Happy New Year:',  friend)

In [ ]:
total = 0
count = 0
while True :
    inp = input('Enter a number: ')
    if inp == 'done' : 
        break
    value = float(inp)
    total = total + value     
    count = count + 1

Enter a number: 10
Enter a number: 20
Enter a number: 40
Enter a number: 60
Enter a number: done

In [ ]:
print(count)

4

In [ ]:
print(total)
average = total / count
print('Average:', average)

130.0
Average: 32.5

In [ ]:
line = 'From salman.amir@gmail.com Sat Jan  5 09:14:16 2020'
words = line.split()
words

['From', 'salman.amir@gmail.com', 'Sat', 'Jan', '5', '09:14:16', '2020']

In [ ]:
email = words[1]
print(email)

salman.amir@gmail.com

In [ ]:
pieces = email.split('@')
print(pieces[1])

gmail.com

In [ ]:
a = (123, 54, 92) # tuple of 3 integers
b = () # empty tuple
c = ("Ala",) # tuple of a single string (note the trailing ",")
d = (2, 3, False, "Arg", None) # a tuple of mixed types

print(a)
print(b)
print(c)
print(d)

(123, 54, 92)
()
('Ala',)
(2, 3, False, 'Arg', None)

In [ ]:
x = 1.2
y = -0.3
z = 0.9
t = (x, y, z)

print(t)

(1.2, -0.3, 0.9)

In [ ]:
l = 2, 3, "Hi", [1,2,3] # tuple packing
print('t is', l)
x, y, z, a = l # tuple unpacking
print('x is', x)
print('y is', y)
print('z is', z)
print('a is', a)

t is (2, 3, 'Hi', [1, 2, 3])
x is 2
y is 3
z is Hi
a is [1, 2, 3]

In [ ]:
print(type(l))

<class 'tuple'>

In [ ]:
l[3]

[1, 2, 3]

In [ ]:
a = [1, 3, 9, 'Py', 217.213]
b = ["Python"]
c = []

print(a)
print(b)
print(c)

[1, 3, 9, 'Py', 217.213]
['Python']
[]

In [ ]:
matrix = [[input(),input()], [input(),input()]]
print(matrix)

12
hi
i23
---
[['12', 'hi'], ['i23', '---']]

In [ ]:
a = (1, 4, 9, 16)     # A tuple of numbers
b = ['A','B','C','d'] # A list of characters
print(a)
print(b)
l = list(a)   # Make a list based on a tuple 
print(l)
t = tuple(b)  # Make a tuple based on a list
print(t)

(1, 4, 9, 16)
['A', 'B', 'C', 'd']
[1, 4, 9, 16]
('A', 'B', 'C', 'd')

In [ ]:
print(id(a))
print(id(l))
print(id(b))
print(id(t))

1361258827928
1361258854152
1361258254088
1361258755080

In [ ]:
t = (123, 54, 92, 87, 33)
x = [123, 54, 92, 87, 33]

print('t is', t)
print('t[0] is', t[0])
print('t[2] is', t[2])

print('x is', x)
print('x[-1] is', x[-1])

t is (123, 54, 92, 87, 33)
t[0] is 123
t[2] is 92
x is [123, 54, 92, 87, 33]
x[-1] is 33

In [ ]:
t = (123, 54, 92, 87, 33)
x = [123, 54, 92, 87, 33]
print('t[1:3] is', t[1:3])
print('x[2:] is', x[2:])
print('x[:-1] is', x[:-1])

t[1:3] is (54, 92)
x[2:] is [92, 87, 33]
x[:-1] is [123, 54, 92, 87]

In [ ]:
t = (123, 54, 92, 87, 33)
x = [123, 54, 92, 87, 33]
print('123 in', x, 123 in x)
print('234 in', t, 234 in t)
print('999 not in', x, 999 not in x)

123 in [123, 54, 92, 87, 33] True
234 in (123, 54, 92, 87, 33) False
999 not in [123, 54, 92, 87, 33] True

In [ ]:
a = [1, 2, 3, 4, 5]

a[2:]

[3, 4, 5]

In [ ]:
t = (123, 54, 92, 87, 33)
x = [123, 54, 92, 87, 33]
print("length of t is", len(t))
print("number of 33s in x is", x.count(33))

length of t is 5
number of 33s in x is 1

In [ ]:
x = [123, 54, 92, 87, 33]
print(x)
x[2] = 33
print(x)

[123, 54, 92, 87, 33]
[123, 54, 33, 87, 33]

In [ ]:
t = (123, 54, 92, 87, 33)
print(t)
t[1] = 4

(123, 54, 92, 87, 33)

TypeError: 'tuple' object does not support item assignment

In [ ]:
x = [123, 54, 92, 87, 33]
x.append(101)
print(x)

[123, 54, 92, 87, 33, 101]

In [ ]:
x = [123, 54, 92, 87, 33]
x.insert(3, 1111)
print(x)

[123, 54, 92, 1111, 87, 33]

In [ ]:
x = [123, 54, 92, 87, 33]
x.remove(123)
print(x)

[54, 92, 87, 33]

In [ ]:
x = [123, 54, 92, 87, 33]
print(x)
del x[0]
print(x)

[123, 54, 92, 87, 33]
[54, 92, 87, 33]

In [ ]:
a = [1,2,3]
b = [4,5,6]
c = "Hi"
a.extend(b)
print(a)
a.append(b)
print(a)
a.append(c)
print(a)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, [4, 5, 6]]
[1, 2, 3, 4, 5, 6, [4, 5, 6], 'Hi']

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
a = a + b
print(a)

[1, 2, 3, 4, 5, 6]

In [ ]:
a = [1, 2, 3, 4, 5, 6]
a[1] = [9, 9, 9, 9],[9, 9, 9, 9],[9, 9, 9, 9],[9, 9, 9, 9]
print(a)

[1, ([9, 9, 9, 9], [9, 9, 9, 9], [9, 9, 9, 9], [9, 9, 9, 9]), 3, 4, 5, 6]

In [ ]:
x,y,z = 10,20,30

In [ ]:
a = [1, 3, 5,6, 4, 2]
a.reverse()
print(a)
b = []
b = a.sort()
print(a)
print(b)

[2, 4, 6, 5, 3, 1]
[1, 2, 3, 4, 5, 6]
None

In [ ]:
a = [2, 5, 7, 1]
b = sorted(a)
print(a)
print(b)

[2, 5, 7, 1]
[1, 2, 5, 7]

In [ ]:
text = "ABCDEFGH"
print(text[0])
print(text[-2])
print(text[0:6])
print("EFG" in text)
print("ABBC" in text)
print(len(text))

A
G
ABCDEF
True
False
8

In [ ]:
text = "ABCDEFGH"
text[0:2] = "CCC"

TypeError: 'str' object does not support item assignment

In [ ]:
string = "ABCDEDCBCDEA"
index = string.find("CDE")
print("CDE is at position:", index)
index = string.rfind("CDE")
print("CDE is at position:", index)
index = string.rfind('C')
print("The last C is at position:", index)

CDE is at position: 2
CDE is at position: 8
The last C is at position: 8

In [ ]:
s = "     My name is Python     "
print(len(s), ".", s, ".")
print(len(s.rstrip()), ".", s.rstrip(), ".")
print(len(s.lstrip()), ".", s.lstrip(), ".")
print(len(s.strip()), ".", s.strip(),".")

27 .      My name is Python      .
22 .      My name is Python .
22 . My name is Python      .
17 . My name is Python .

In [ ]:
string = "My name is Python"
words = string.split(" ")
print(words)

letters = list(string) # a tuple of character converted into a list
print(letters)

In [ ]:
string = "My name is Python"
words = string.split(" ")
print(words)
print("|".join(words))

In [ ]:
language = "Python"
version = 3.6
print(language + str(version))

In [ ]:
l = [1, 2, 3, 2, 3] # list of 5 values
s = set(l) # set of 3 unique values
print(s)
e = set() # empty set
print(e)

In [ ]:
s = set([1, 2, 3, 2, 3])
print(s)
print("number in set:", len(s))
s.add(4)
print(s)
s.add(3)
print(s)

In [ ]:
s = set([1, 2, 3, 2, 3])
print(s)
s.remove(3)
print(s)

In [ ]:
s1 = set([2, 4, 6, 8, 10])
s2 = set([4, 5, 6, 7])

print("Union:", s1 | s2)
print("Intersection:", s1 & s2)

In [ ]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton"}
print(sports)

sports['C']

In [ ]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton"}
print("A represents", sports["A"])
print("G represents", sports["G"])

In [ ]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton"}
print("What about N?", sports["N"])

In [ ]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton"}
print("What about N?", sports.get("N"))
print("With a default value:", sports.get("N", "asfasfasf"))

In [ ]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton"}
"T" in sports

In [ ]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton"}
"Y" not in sports

In [ ]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton"}
print(len(sports))

In [ ]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton"}
sports['E'] = 'Kabaddi'
print(sports)

In [ ]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton", "E": "Kabaddi"}
sports['F'] = 'Volley Ball'
print(sports)

In [ ]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton", "E": "Kabaddi", 'F': 'Volley Ball'}
del sports['F']
print(sports)

In [ ]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton", "E": "Kabaddi"}
print(list(sports.keys()))

In [ ]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton", "E": "Kabaddi"}
print(list(sports.values()))

In [ ]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton", "E": "Kabaddi"}
print(list(sports.items()))